$green-main: #14A76C;
$orange-main: #FF652F;
$purple-main: #7C36FF;
$yellow-main: #FFD836;

$gray-darkest: #232323;
$gray-dark: #282828;
$gray: #323232;
$gray-light: #747474;
$gray-lightest: #909090;

$container-width: 1350px;
