@import "../../vars.scss";

.Post {
  width: 560px;
  margin: 100px auto;
  @media(max-width: 560px) {
    width: 100%;
    margin: 70px auto;
  }
  .header {
    margin: 20px 0px;
    font-size: 26px;
    color: $green-main;
    @media(max-width: 560px) {
      margin: 20px 10px;
    }
  }
  .content {
    margin-top: 20px;
  }
  .fb-comments {
    background: white;
    -webkit-box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.35);
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.35);
  }
}
