<section class="border">
  <div class="title">
    <div class="silver-line"></div>
    <h1>anomalous film</h1>
    <div class="silver-line"></div>
  </div>
  <video autoplay muted>
    <source src="../src/curmovie.mp4" type="video/mp4" />
  </video>
  <div class="mouse_scroll" id="mouse">
		<div class="mouse">
			<div class="wheel"></div>
		</div>
		<div>
			<span class="m_scroll_arrows unu"></span>
			<span class="m_scroll_arrows doi"></span>
			<span class="m_scroll_arrows trei"></span>
		</div>
  </div>
</section>
