<section class="selected-movie">
  <div class="jumbotron">
    <img src="./src/lalalandcover.jpg" />
    <h1>La La Land</h1>
  </div>
  <div class="paragraph">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt augue nec rhoncus condimentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
Nullam convallis non enim at imperdiet. Curabitur pellentesque, odio non vestibulum aliquam, libero ex suscipit sem, at feugiat sem mauris a felis. Pellentesque ullamcorper risus lectus, eu gravida
tortor maximus in. Donec quis ultricies nibh. Maecenas at neque euismod, egestas nibh aliquet, fermentum sapien. Quisque commodo quam non justo posuere, vel scelerisque velit lacinia. Suspendisse
 non ultricies magna. Integer lacinia porttitor odio, quis elementum nisi lacinia sit amet. Sed quis tellus at sem ultrices tincidunt nec et lorem. Suspendisse sagittis fermentum diam vitae rutrum.
Vestibulum porttitor, quam et vehicula sollicitudin, tellus justo tincidunt turpis, ut hendrerit nibh orci at nisl. Suspendisse luctus erat sed fermentum cursus. Aliquam sit amet massa egestas, sagittis dui
ut, pharetra leo.
  </div>
  <div class="paragraph">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt augue nec rhoncus condimentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
  Nullam convallis non enim at imperdiet. Curabitur pellentesque, odio non vestibulum aliquam, libero ex suscipit sem, at feugiat sem mauris a felis. Pellentesque ullamcorper risus lectus, eu gravida
  tortor maximus in. Donec quis ultricies nibh. Maecenas at neque euismod, egestas nibh aliquet, fermentum sapien. Quisque commodo quam non justo posuere, vel scelerisque velit lacinia. Suspendisse
  non ultricies magna. Integer lacinia porttitor odio, quis elementum nisi lacinia sit amet. Sed quis tellus at sem ultrices tincidunt nec et lorem. Suspendisse sagittis fermentum diam vitae rutrum.
  Vestibulum porttitor, quam et vehicula sollicitudin, tellus justo tincidunt turpis, ut hendrerit nibh orci at nisl. Suspendisse luctus erat sed fermentum cursus. Aliquam sit amet massa egestas, sagittis dui
  ut, pharetra leo.
  </div>
</section>
