@import "../../vars.scss";

.Footer {
  width: 100%;
  height: 60px;
  background: $gray-darkest;
  border-top: solid 4px $gray;
  position: relative;
  .footer-container {
    width: $container-width;
    @media(max-width: 850px) {
      width: 100%;
      padding: 0px 10px;
    }
    section {
      height: 20px;
      .sm {
        margin-right: 20px;
        color: $green-main;
        font-size: 20px;
        &:hover {
          cursor: pointer;
          color: $orange-main;
        }
      }
      .link {
        text-decoration: none;
        color: $green-main;
        font-size: 14px;
        margin-left: 30px;
        &:hover {
          cursor: pointer;
          color: $orange-main;
        }
      }
    }
  }
}
