@import "../../vars.scss";

.Nav {
  width: 100%;
  height: 60px;
  background: $gray-darkest;
  border-bottom: solid 4px $gray;
  position: fixed;
  z-index: 4;
  top: 0;
  .nav-container {
    width: $container-width;
    @media(max-width: 850px) {
      width: 100%;
      padding: 0px 10px;
    }
    section {
      .logo-link {
        color: $green-main;
        text-decoration: none;
        .logo-text {
          @media(max-width: 560px) {
            display: none;
          }
        }
        img {
          height: 30px;
          margin: 10px;
          @media(max-width: 560px) {
            margin: auto;
          }
        }
      }
      input[type="text"] {
        border-radius: 4px;
        background: $gray;
        border: none;
        padding: 7px 9px;
        color: $orange-main;
        &:focus {
          &::-webkit-input-placeholder {
            color: $orange-main;
          }
          &:-ms-input-placeholder {
            color: $orange-main;
          }
          &::-ms-input-placeholder {
            color: $orange-main;
          }
          &::placeholder {
            color: $orange-main;
          }
        }
        &::-webkit-input-placeholder {
          color: $green-main;
        }
        &:-ms-input-placeholder {
          color: $green-main;
        }
        &::-ms-input-placeholder {
          color: $green-main;
        }
        &::placeholder {
          color: $green-main;
        }
      }
      .nav-icon {
        padding: 5px 9px;
        border-radius: 4px;
        margin: 0px 0px 0px 6px;
        background: $gray;
        color: $green-main;
        &:hover {
          cursor: pointer;
          color: $orange-main;
        }
        @media(max-width: 560px) {
          display: none;
        }
      }
    }
  }
}
