@import "../../vars.scss";

.Thumbnail {
  width: 190px;
  height: 190px;
  margin: 7px;
  -webkit-box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.35);
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.35);
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  -webkit-transition: opacity 1.5s ease;
  transition: opacity 1.5s ease;
  opacity: 0.0;
  position: relative;
  cursor: pointer;
  @media(max-width: 835px) {
    min-width: calc((100vw / 3) - 20px);
    min-height: calc((100vw / 3) - 20px);
    width: calc((100vw / 3) - 20px);
    height: calc((100vw / 3) - 20px);
  }
  @media(max-width: 560px) {
    min-width: calc((100vw / 2) - 20px);
    min-height: calc((100vw / 2) - 20px);
    width: calc((100vw / 2) - 20px);
    height: calc((100vw / 2) - 20px);
    margin: 5px;
  }
  .thumb-link {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    text-decoration: none;
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      -o-object-fit: cover;
      object-fit: cover;
      opacity: 1.0;
      -webkit-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
    }
    .circle {
      width: 80%;
      height: 80%;
      background: rgba(0,0,0,0.8);
      position: absolute;
      z-index: 3;
      border-radius: 50%;
      background-size: cover;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      background-image: url('../../assets/overlay.png');
    }
    .rating {
      height: 120px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      text-align: center;
      color: white;
      font-size: 120px;
    }
    .circle-text {
      z-index: 3;
      h1 {
        color: $orange-main;
        padding: 4px;
        text-align: center;
        width: 140px;
      }
    }
  }
}
