@import "../../vars.scss";

#List {
  max-width: calc(1350px - 10px);
  min-height: calc(100vh - 130px);
  margin: auto;
  margin-top: 70px;
  position: relative;
  overflow: hidden;
  @media(max-width: 1375px) {
    width: calc(100% - 30px);
    margin: 70px 15px 0px;
  }
}
