@import "../../vars.scss";

.List {
  max-width: $container-width + 14px;
  min-height: calc(100vh - 160px);
  margin: auto;
  margin-top: 100px;
  position: relative;
  @media(max-width: 835px) {
    margin-top: 68px;
    min-height: calc(100vh - 137px);
  }
  .list-container {
    margin: 9px;
  }
}
