@import "../vars.scss";

.Nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 86px;
  margin-bottom: 40px;
  background: white;
  border-bottom: solid 1px $border;
  position: fixed;
  z-index: 1;
  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    width: 900px;
    .logo {
      position: absolute;
      left: 0;
    }
    .action-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 500px;
      input {
        border: solid 1px $border;
        padding: 10px;
        border-radius: 4px;
        background: $gray2;
        &::-webkit-input-placeholder {
          font-style: italic;
        }
        &::-moz-placeholder {
          font-style: italic;
        }
        &:-ms-input-placeholder {
          font-style: italic;
        }
        &::placeholder {
          font-style: italic;
        }
        &:hover, &:focus {
          background: $gray3;
        }
      }
      .action-buttons {
        span {
          border: solid 1px $border;
          padding: 6.5px 10px;
          border-radius: 4px;
          background: $gray2;
          margin-left: 10px;
          &:hover {
            background: $gray3;
            cursor: pointer;
          }
        }
      }
    }
    .login {
      position: absolute;
      right: 0;
      border: solid 1px $border;
      padding: 12px 9px 0px 17px;
      border-radius: 4px;
      background: $gray2;
      img {
        height: 24px;
        margin-bottom: -3px;
        border-bottom: solid 1px $border;
      }
      &:hover {
        background: $gray3;
        cursor: pointer;
      }
    }
  }
}
