@import "../vars.scss";

.Results {
  width: 504px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  .image-container {
    margin: 5px;
    width: 158px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    opacity: 1;
    -webkit-transition: opacity 0.5 ease;
    transition: opacity 0.5 ease;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
    img {
      width: 100%;
      border: solid 1px $border;
      border-radius: 4px;
    }
    p {
      margin-top: 5px;
      border: solid 1px $border;
      border-radius: 4px;
      background: white;
      padding: 10px;
      text-align: center;
      font-size: 12px;
    }
  }
}

@media (max-width: 536px) {
  .Results {
    width: 100%;
    .image-container {
      width: 30.5%;
    }
  }
}
