@import "../../vars.scss";

#Home {
  max-width: calc(1350px - 10px);
  min-height: calc(100vh - 130px);
  margin: auto;
  margin-top: 70px;
  position: relative;
  overflow: hidden;
  @media(max-width: 835px) {
    margin-top: 68px;
    min-height: calc(100vh - 137px);
  }
}
